.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width:100vw;
    height: 120px;
    background-color: darkgray;
}

button, .Marcas{

    margin: 8px;
}

button, .Marcas {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover, .NavLink:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}