
.Controls{
    display:flex;
    /*flex-direction: column;*/
    /*background-color: white;*/
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    /*padding: 1rem;*/
    border-radius: 10px;
    
    margin: auto auto;
    /*align-items: center;*/
    
  }
  


  .Button, .Number{
    /* align-items: center;*/
     
    /* max-width: 100px;*/
    /*align-self: auto;*/
    
    background-color: #3b4252;
    color: blanchedalmond;
    
 }

 .Counter{
    /*display: flex;*/
    /*gap: 1rem;*/
    /* align-items: center; */
    text-align: center;
    margin: auto auto;
  }